---
layout: default
permalink: /assessment/
---

<section class="flex header-image assessment-image">
</section>

<section class="bluebg">

  <div class="content padded">

    <h1>The Assessment Process</h1>

    <div class="flex three">

      <div class="full two-third-600">
        <p>We need to consider all aspects of driving, including;</p>
        <ul>
          <li>medical fitness</li>
          <li>vision</li>
          <li>awareness</li>
          <li>reactions</li>
          <li>decision making</li>
          <li>physical ability needed to operate the vehicle and its controls</li>
        </ul>
        <p>We may, therefore, need to request information from your GP or consultant and/or assessments from an independent specialist in any of these areas. You will be sent a consent form to sign if required.</p>
        <p>If deemed medically fit, you will then have the opportunity to take an on-road assessment with our lead assessor, providing you have a valid driving licence (provisional or full).</p>
      </div>

      <div class="full third-600">
        <img class="stack" src="/assets/images/button-privacy.jpg">
        <a class="button stack error" href="{{site.baseurl}}/privacy-policy/" >Read our Privacy Policy</a>
      </div>

    </div>

  </div>

</section>

<section class="content padded">

  <div class="flex">

    <h2>Pre-Drive Consultation</h2>

    <p>Once initial contact has been made, one of our assessment team will call you to gather information relating to driving prior to your appointment for the on-road assessment or driving lesson. We will ask about your driving and licence history, medical history along with the circumstances leading up to your referral. If appropriate, physical movements for driving purposes will be considered and adaptation options discussed.</p>

    <h2>Vision Check</h2>

    <p>You will be required to read a number plate at the minimum legal distance. Please consider visiting an optician before your assessment for confirmation that your vision meets the standard for driving, for both visual acuity and visual fields (peripheral vision)</p>

    <p><i>If you are unable to read a number plate from the prescribed distance on the day of the assessment, you will be unable to continue with the assessment and may be charged.</i></p>

    <h2>Cognitive testing</h2>

    <p>For some assessments, it is necessary for clients to undertake office based cognitive, psychometric testing prior to the on-road assessment. This is important when there are concerns about a drivers cognition (thinking skills) or if there is a particular diagnosis that may have an impact on these abilities. These tests are designed with driving in mind and are relevant to that task. The tests will be conducted by an independent General Practitioner (GP) at their surgery.</p>

    <h2>In-Car/On-road Assessment</h2>

    <p>For safety and insurance purposes, all assessments are conducted in one of our dual controlled vehicles. Every effort is made to make you feel comfortable and at ease driving one of our vehicles and, because we understand that the car will be unfamiliar to you, there is always time allocated at the beginning of the drive for you familiarise yourself with the vehicle.</p>

    <p>The drive will progress onto a pre-planned route and will last approximately 40-50 minutes. The route is designed to include normal day-to-day challenges of driving such as junctions, traffic lights, roundabouts, urban and rural situations along with some very basic reversing manoeuvres. The assessment may also include an emergency stop exercise.</p>

    <p>We understand that many of our clients may stick to preferred routes or only drive to certain places. Your Driving Advisor will discuss these with you prior to starting the drive. Throughout the assessment, your Driving Advisor will give clear directional instructions.</p>

    <p>There is NOT a theory element to the assessment, however, you are expected to adhere to the speed limits and react to all road traffic signs, markings and hazards appropriately.</p>

    <p>The aim of the drive is to support the driver in continuing to drive or return to driving if safe to do so. Many experienced drivers will have developed habits over the years, both good and bad. Providing these habits or driving styles are safe, then they will have no affect on the outcome of the assessment.</p>

  </div>

</section>

<section class="greybg">

  <div class="content padded">

    <div class="flex">

      <h2>Feedback</h2>

      <p>Once the on-road assessment is complete, any advice or recommendations will be given verbally. <i>Please note that not everyone who attends an on-road assessment will be successful.</i></p>

    </div>

  </div>

</section>
