---
layout: default
permalink: /contact-us/
---

<section class="flex header-image contact-image">
</section>

<section class="bluebg flex">

  <div class="content padded">

    <h1>Contact Us</h1>

    <h2>Questions? Give us a call or send us an email.</h2>
    <p>Telephone: 07797 830 030</p>
    <p>Email: <a href="mailto:driveabilityjersey@gmail.com">driveabilityjersey@gmail.com</a></p>
    <p>If there is no immediate response via telephone, we may be out on an assessment or lesson. Your call will have been registered and one of our team will call you back as soon as they are able.</p>
    <p>Please note all assessments and consultations are by appointment only so we can ensure the best person is available to help you and the right cars and equipment are available.</p>

  </div>

</section>

<section class="flex">

  <div class="content padded">

    <h2>Clients comments</h2>

    <p><em>"I cannot recommend highly enough the service received from the Driving Assessor provided by DriveAbility Jersey.  Although having driven for over 65 years, recovering from three stays in hospital, during which suffered a series of mild strokes when unconscious, I needed a calm and capable checkout of my driving abilities. After two extremely helpful sessions with an assessor I was judged fit to resume driving on my own."</em> C. H. Prince</p>

    <p><em>"With the care &amp; concern of those who have kept me in touch with driving since my illness, so much of my life has now returned to some degree of normality. I now have the freedom to call on family and friends as I always used to, and long may it continue. Thank you so much for your help and concern."</em> - Denis</p>

  </div>

</section>
