---
layout: default
---

<section class="flex header-image home-image">
  <div class="image-text">
    <p>Helping those with a <strong>physical disability</strong> become independently mobile</p>
  </div>
</section>

<section class="bluebg">

  <div class="content padded">

    <h1>About Us</h1>

    <div class="flex three">

      <div class="full two-third-700">
        <p>DriveAbility Jersey is dedicated to helping the Disabled, older individuals, and those affected by medical conditions. We help you stay mobile and safe on the roads, and maintain an independent lifestyle.</p>
        <p>We have an expert team of Driving Advisors and Instructors who are able to undertake comprehensive assessments of ability to drive a vehicle safely and provide specialist tuition.</p>
        <p>DriveAbility Jersey is an independent charity working in collaboration with Health and Community Services, Driver and Vehicle Standards (DVS), GP’s, Parish Licencing authorities, and the Police.</p>
        <h2>We are proud to be part of Driving Mobility.</h2>
        <a href="https://www.drivingmobility.org.uk/"><img class="driving-mobility-logo" src="{{ site.baseurl }}/assets/images/driving-mobility-logo.svg" alt="Visit the Driving Mobility website"></a>
        <p>Our independent assessment services are accredited by the national charity Driving Mobility. Driving Mobility is the umbrella body which oversees 20 member centres across the UK – some of which are wholly charitable organisations whilst others operate within the NHS.</p>
        <p>Driving Mobility ensures that there are common standards, promotes good practice and offers training and education to all regional centres, whilst working closely with associated national organisations. These include the Department for Transport, Driver and Vehicle Licensing Agency, Driver and Vehicle Agency (NI), Motability and the Police, along with many other valued stakeholders.</p>
      </div>

      <div class="full third-700">
        <img class="stack" src="/assets/images/button-assessment.jpg">
        <a class="button stack error" href="{{site.baseurl}}/assessment/" >Click here to learn more about assessments</a>
      </div>

    </div>

  </div>

</section>

<section class="flex six content">

    <div class="full third-700 padded">
      <img src="{{site.baseurl}}/assets/images/faq-sidebar.jpg" alt="" class="responsive">
    </div>

    <div class="full two-third-700 padded">

      <h2>Frequently Asked Questions</h2>

      <i>Tap or click on any question to expand its answer.</i>

      <details>
        <summary>How can we help you?</summary>
        <p>We can offer our clients:</p>
        <ul>
          <li>An assessment of your ability to drive safely and comfortably</li>
          <li>Advice on vehicle adaptations and assistive technology</li>
          <li>Tuition for</li>
          <ul>
            <li>New drivers who may have physical or unique learning needs</li>
            <li>Those who are returning to driving following accident, illness or injury</li>
            <li>Those who require vehicle adaptations.</li>
          </ul>
          <li>Advice and assessment for motorcycle and Heavy Goods Vehicle drivers</li>
        </ul>
      </details>

      <details>
        <summary>Who can we help?</summary>
        <p>We provide assessments, tuition, advice and support to anyone who has restricted mobility, a physical disability or unique learning needs.</p>
        <p>Commonly our service users:</p>
        <ul>
          <li>Are new drivers, with an existing physical impairment of specific learning needs.</li>
          <li>Have a medical condition that may impact their ability to drive safely e.g. MS, Cerebral Palsy, Autism, ADHD, Dyspraxia etc.</li>
          <li>Have disabilities that require adaptations to the vehicle.</li>
          <li>Have neurological diseases or disorders, such as Dementia, Alzheimer’s, Parkinson’s Disease.</li>
          <li>Express concerns about their standard of driving due to age.</li>
          <li>Have a wish to begin or return to their driving following an illness (such as a stroke), injury or accident.</li>
        </ul>
      </details>

      <details>
        <summary>How can I access these services?</summary>
        <p>A new driver with any physical disability or specific learning needs can contact us directly either via telephone or email for advice and to arrange an initial assessment.</p>
        <p>Existing licence holders who have had a change in medical health, whether cognitive or physical, and require support and assistance with their continuation or return to driving can contact DriveAbility Jersey directly for a self-referral, or speak with their GP, parish hall, physiotherapist, occupational therapist or consultant for advice about your needs and how to book.</p>
      </details>

      <details>
        <summary>How much does this service cost?</summary>
        <p>Costs of services vary depending on the client’s individual needs. For more information please <a href="{{site.baseurl}}/contact-us/">contact us</a>.</p>
      </details>

      <details>
        <summary>Assessment locations</summary>
        <p>For the majority of our assessments, we will come to your home and drive you to a quiet, safe location to allow you the opportunity to familiarise yourself with our vehicle and/or adaptations.</p>
        <p>We can arrange alternative pick up locations if requested.</p>
      </details>

    </div>

</section>

<section class="greybg">

  <div class="content padded">

    <h2>Useful Contacts</h2>

    <p><strong>Bagot Road Garage</strong> have mechanics who have been specially trained in installing vehicle adaptations for clients with physical disabilities. They also maintain our small fleet of tuition vehicles. We and our clients are incredibly grateful for all their hard work and expertise. Tel: 01534 815 120 or <a href="http://www.bagotroad.com/">bagotroad.com</a></p>

    <p><strong>Rachel’s Car</strong> is a Fiat Doblo Wheelchair Accessible Vehicle, which is purpose built for the carriage of a wheelchair user and 3 passengers (and the driver). The car is available to anyone in Jersey, free of charge for short term use only providing they have a valid reason for needing the use of such a vehicle. Although free of charge, there is a cash deposit required for the vehicle insurance excess. Drivers must be over 25 years of age and hold a valid full driving licence Tel: 07797 711 193 or 07797 811 928</p>

    <p><strong>ShopMobility</strong> operate from the lower ground floor of Sand Street car park. The opening hours are 10 am to 4.30 pm Monday to Saturday. Shopmobility have powered and manual chairs and powered scooters for loan to those who would feel more comfortable riding round town to shop, meet friends or just take a wheeled stroll. The lower ground floor of the car park has sufficient dedicated parking spaces for all users whether they drive themselves or are driven. Some spaces are extra wide to allow for side loading. Tel: 01534 739 672 / 07829 736 797 / 07700 736 797, or <a href="https://www.shopmobility.org.je/">shopmobility.org.je</a></p>

    <p><strong>Blue Badge Disabled Parking</strong> is a scheme intended to assist those who have a permanent and substantial disability. The badge is issued to the person so can therefore be used with any vehicle you are driving or being driven in. The badges can also be used in the UK and EU. For more information contact the town hall or visit the website. Tel: 01534 811 811, or townhall@posh.gov.je, or <a href="https://www.gov.je/travel/motoring/parking/pages/disabledparking.aspx">gov.je</a></p>

    <p><strong>Mercury Medical</strong> are providers of medical, healthcare and daily living and mobility products. Leasing agreements are also available. <a href="http://mercurydistribution.com/medical/">mercurydistribution.com</a></p>

    <p><strong>Technicare</strong> are providers of healthcare and mobility products. <a href="https://www.technicare-jersey.com/">technicare-jersey.com</a></p>

  </div>

</section>
