---
layout: default
permalink: /meet-the-team/
---

<section class="flex header-image meet-the-team-image">
</section>

<section class="bluebg">

  <div class="content padded">

    <h1>Meet the Team</h1>

    <p>Our whole team are dedicated to providing this valuable service to our island, and they do so outside their full-time employment.</p>

    <p>We have a small fleet of assessment vehicles, including standard manual and automatic transmission vehicles. All are fitted with dual controls for safety purposes (both ours and yours!)</p>

    <p>We also have a specifically adapted vehicle designed to meet most individual needs, which has been generously donated by the Greville Bathe fund.</p>

    <h2>About the Charity</h2>

    <p>This charity was founded by Pam Evans, a teacher, who suffered a severe brain haemorrhage on her 56th birthday, leaving her paralysed down the left side of her body. Pam went to England for her mobility assessment and found the whole procedure stressful and expensive. </p>

    <p>On her return to Jersey, she was determined that this service should be available to all the physically disabled people in Jersey. She felt particularly concerned that there was no provision on the island for young disabled people to learn to drive with the use of a specifically adapted car. Pam set about fund raising and forming a committee, which led to the establishment of Driving For the Disabled, Jersey in 2006. This has now developed into the more extensive service, DriveAbility Jersey.</p>

  </div>

</section>

<section>

  <div class="content">

    <div class="flex full">

      <div class="padded">
        <div class="card">
          <img src="{{ site.baseurl }}/assets/images/card-bg-1.jpg" class="card-image" alt="">
            <h2>Kerrie Mauger-Dorrington</h2>
            <h3>Consultant Driving Advisor</h3>
            <ul>
              <li>Paramedic</li>
              <li>Post Graduate Certificate in Driving Assessment and Outdoor Mobility</li>
              <li>Emergency Response Driving Instructor</li>
              <li>Approved Driving Instructor (ADI) for 16 years (all licence categories)</li>
              <li>Driving Assessor and Advisor for 14 years</li>
            </ul>
        </div>
      </div>

      <div class="padded">
        <div class="card">
          <img src="{{ site.baseurl }}/assets/images/card-bg-2.jpg" class="card-image" alt="">
            <h2>Fiona Herivel</h2>
            <h3>Lead Assessor/Driving Advisor</h3>
            <ul>
              <li>Background in Childcare and Education</li>
              <li>Member of the Institute of Advanced Motorists (IAM)</li>
              <li>Approved Driving Instructor (ADI) for 5 years (with an interest in Special Educational Needs)</li>
              <li>Professional Certificate in Driving Assessment and Outdoor Mobility due for completion May 2021</li>
            </ul>
        </div>
      </div>

      <div class="padded">
        <div class="card">
          <img src="{{ site.baseurl }}/assets/images/card-bg-3.jpg" class="card-image" alt="">
          <h2>Jacques Callec</h2>
          <h3>Lead Instructor</h3>
            <ul>
              <li>Background in plant machinery operation</li>
              <li>Plant Equipment Health and Safety Instructor/Examiner (ITSSAR)</li>
              <li>(Independent Training Standard Scheme and Register)</li>
              <li>Approved Driving Instructor for 4 years (all licence categories)</li>
              <li>Approved Motorcycle and CBT Instructor for 7 years</li>
            </ul>
        </div>
      </div>

    </div>

  </div>

</section>
