---
layout: default
permalink: /privacy-policy/
---

<section class="flex header-image privacy-policy-image">
</section>

<section class="bluebg">

  <div class="content padded">

    <h1>Our Privacy Policy</h1>

    <div class="flex six grow">

      <div class="full half-700">

        <h2>Who We Are</h2>
        <p>DriveAbility Jersey is a registered charity in Jersey, charity number: 267</p>
        <p>DriveAbility Jersey is also registered with the Jersey Office of the Information Commissioner, registration number: 65082</p>
        <p>This privacy policy explains what personal data (information) we hold about our clients, how we collect it, how we use and may share information about you. We are required to notify you of this information under data protection legislation. For the purposes of the Data Protection (Jersey) Law 2018 our data lead is Pam Evans.</p>
        <p>Please ensure that you read this policy and any other similar notice we may provide to you when we collect or process personal information about you.</p>


      </div>

      <div class="off-sixth-700">
        <p class="card"><em>"I can't imagine how difficult things would have been if I didn't drive. I have my independence back. When everything else is such a struggle, it is wonderful to jump in the car and escape, it is wonderful to have my freedom back. I can't thank the team enough!"</em> - Francoise</p>
      </div>

    </div>

  </div>

</section>

<section class="flex">

  <div class="content padded">
    {% capture privacy %}{% include page-sections/privacy-policy.md %}{% endcapture %}
{{ privacy | markdownify }}
  </div>

</section>
