<footer>

  <div class="content padded">

    <div class="flex full two-700">

      <div class="padded">
        <strong>DriveAbility Jersey would like to thank the following individuals and businesses for their kind support.</strong>
        <p>Patron Nigel Mansell, CBE</p>
        <p><a href="http://www.lloydstsbfoundations.org.uk/Pages/Welcome.aspx">Lloyds TSB Foundation for the Channel Islands</a></p>
        <p>The Greville Bathe Fund</p>
        <p><a href="http://www.jerseycharities.org/">Association of Jersey Charities</a></p>
        <p><a href="http://www.bagotroad.com/">Bagot Road Garage</a></p>
      </div>

      <div class="padded">
        <img src="{{ site.baseurl }}/assets/images/driveability-jersey-logo.svg" class="da-logo" alt="">
        <p><a href="{{ site.baseurl }}/contact-us/">Contact Us</a> &middot <a href="{{ site.baseurl }}/privacy/">Privacy Policy</a></p>
        <p>Copyright &copy;2011-{{ site.time | date:"%Y" }} <a href="{{ site.url }}/">{{ site.title }}</a>, All rights reserved.</p>
      </div>

    </div>

  </div>

</footer>
