<nav>
  <a href="{{site.baseurl}}/" class="brand">
    <span>DriveAbility Jersey</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">Menu</label>

  <div class="menu">
    <a href="{{site.baseurl}}/assessment/" class="pseudo button">Assessment</a>
    <a href="{{site.baseurl}}/contact-us/" class="pseudo button">Contact Us</a>
    <a href="{{site.baseurl}}/meet-the-team/" class="pseudo button">Meet the Team</a>
    <a href="{{site.baseurl}}/privacy-policy/" class="pseudo button">Privacy</a>
  </div>
</nav>
