/*
Overrides
*/

/* A11Y corrections */
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
.has-error,
.has-error:focus,
.has-success,
.has-success:focus {
  outline: dotted 1px;
}

figure {
  margin: 1rem 0.5rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: #1e62a3;
}

a:hover {
  color: #fff;
  background-color: #1e62a3;
  text-decoration: none;
}

a.unstyled:hover {
  background-color: transparent;
}

.card {
  background-color: #fff;
  color: #222;
  box-shadow: 1px 1px 3px #444;
}

a.card {
  color: #444;
}

a.card:hover,
a.card:active {
  color: #444;
  background-color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  border: 1px solid #1e62a3;
  background-color: #1e62a3;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #196cbd;
  border-color: #196cbd;
}

.button.button-primary:active,
button.button-primary:active,
input[type="submit"].button-primary:active,
input[type="reset"].button-primary:active,
input[type="button"].button-primary:active {
  background-color: #196cbd;
  border-color: #196cbd;
}

/*
Customisations
*/

/* daj red   = #f04338
 * Dark red   = #a31e16
 * Light blue = #196cbd
 * Dark blue  = #1e62a3
 **/

 /* Rounded photo corners */

img {
  border-radius: 0.5em;
}

 /* daj Logo */

.daj-logo-container {
 margin-left: 2rem;
}

.daj-logo {
 margin-top: 2rem;
 width: 20rem;
}

@media (max-width: 560px) {
 .daj-logo {
   margin-top: 1rem;
   max-width: 50vmin;
   text-align: center;
 }
}

.tagline {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.01rem;
}

.padded {
  padding: 2rem;
}

@media (max-width: 560px) {
  .padded {
    padding: 0.5rem;
  }
}

@media (max-width: 960px) {
  .padded {
    padding: 1rem;
  }
}

figcaption {
  text-align: center;
  font-style: italic;
  color: #666;
}

dt {
  font-weight: 600;
}

.jg-logo {
  margin: 2em auto;
}

.button.button-white,
button.button-white,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.button.button-white:hover,
button.button-white:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-white:focus,
button.button-white:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #196cbd;
  background-color: #fff;
  border-color: #fff;
}

.button.button-white:active,
button.button-white:active,
input[type="submit"].button-primary:active,
input[type="reset"].button-primary:active,
input[type="button"].button-primary:active {
  background-color: #fff;
  border-color: #fff;
}

/* Page Sections */

.min100vh {
  min-height: 100vh;
}

.top-photo-background {
  background: url(../images/backgrounds/truck-hill.jpg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 560px) {
  .top-photo-background {
    background: url(../images/backgrounds/truck-hill-small.jpg) no-repeat center center;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .top-photo-background {
    background: url(../images/backgrounds/truck-hill-large.jpg) no-repeat center center;
    background-size: cover;
  }
}

.grey-background {
  background-color: #eee;
}

.sidebar-first-item {
  margin-top: 8rem;
}
@media (max-width: 560px) {
  .sidebar-first-item {
    margin-top: 1rem;
  }
}

.blue-background {
  color: #fff;
  background-color: #1e62a3;
}
