/* Picnic overrides */

nav {
  color: #222;
}

.error.button {
  text-align: center;
  background-color: #ec1e29;
}

.card {
    color: #222;
    padding: 1em;
}

/* Customisations */

footer {
  background:url(../images/footer-bg.svg) no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
}

footer p {
  font-size: smaller;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

summary {
  display: list-item;
  font-size: 1.1em;
  font-weight: bold;
}

details summary {
  cursor: pointer;
}

details > summary {
  background-color: #fbfbfb;
  box-shadow: inset 0px 0px 2px #999;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
}

img.responsive {
  max-width: 100%
}

.bluebg a.stack {
  text-decoration: none;
  font-weight: bold;
}

.header-image {
  min-height: 50vh;
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .header-image {
    min-height: 70vh;
  }
}

.home-image {
  background:url(../images/bg-home.jpg) no-repeat center center;
  background-size: cover;
}

.assessment-image {
  background:url(../images/bg-assessment.jpg) no-repeat center center;
  background-size: cover;
}

.contact-image {
  background:url(../images/bg-contact.jpg) no-repeat center center;
  background-size: cover;
}

.meet-the-team-image {
  background:url(../images/bg-team.jpg) no-repeat center center;
  background-size: cover;
}

.privacy-policy-image {
  background:url(../images/bg-privacy.jpg) no-repeat center center;
  background-size: cover;
}

.image-text {
  padding-top: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}

.image-text p {
  display: block;
  padding: 0 .3em;
  color: #fff;
  background-color: #333;
  border-radius: .2em;
}

.card-image {
  float: right;
  max-width: 30%;
}

@media screen and (max-width: 600px) {
  .card-image {
    display: none;
  }
}

.bluebg {
  background:url(../images/header-bg.svg) no-repeat center center;
  background-size: cover;
  color: #fff;
  border-top: 3px solid #ec1e29;
}

.bluebg a {
  color: inherit;
  text-decoration: underline;
}

.greybg {
  background-color: #fbfbfb;
  border-top: 1px solid #777;
}

.greybg a {
  text-decoration: underline;
}

.padded {
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .padded {
    padding: 2em;
  }
}

.da-logo {
  max-width: 60%;
  margin: auto;
}

.driving-mobility-logo {
  float: left;
  max-width: 40%;
  margin: 1em 1.5em 1em 0;
  padding: 0.5em;
  background-color: #fff;
}

.content {
  margin: 0px auto;
  max-width: 960px;
}
